@{
    ViewBag.Title = "Home ";
}

<div class="jumbotron">
    <h1 style="color:saddlebrown">Shelf Space</h1>
    <p class="lead" style="color:rosybrown">Make managing your library's inventory a breeze with our software.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color:sandybrown">Getting started</h2>
        <p>
            Welcome to Shelf Space! Here's how to get started:

        <p>
            <b>*</b>Set up your library's profile.
            <b>*</b>Enter your book inventory.
            <b>*</b>Use the search bar and sorting options to manage your inventory.
            <b>*</b> Check books in and out and generate reports.
            If you need help, check out our user guide or contact customer support. Thanks for using Shelf Space!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

</div>